@media (max-device-width: 450px) {
    div#loggedin {
        height: 0px !important;
    }
    input#partyID:focus {
        border: 2px solid blue !important;
        background: white;
    }
    div#results, body {
        height: 100% !important;
        background: gray;
    }
    a#spotify:hover, a#spotify:active {
        background-color: #96f896;
    }
    html {
        position: relative !important;
        min-height: 100% !important;
    }
    div#hideThis {
        zoom: 180% !important;
        display: none;
    }
    div#link {
    height: 62px;
    width: 291px;
    background: #00f629 !important;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 8px !important;
}
input#partyID, #spotify {
    margin-top: 15% !important;
    margin-left: 2%;
    font-size: 335%;
    font-weight: lighter;
}
    header:nth-child(0), header:nth-child(1) {
        padding-top: 100px !important;
    }

    #currentSong {
        margin-top: -94px !important;
        font-size: 200%;
        color: #443f3f;
    }

    header {
        border-bottom: 3px solid white !important;
        padding-bottom: 55px !important;
    }

    footer, #footer {
        background-color: transparent !important;
        position: fixed !important;
        left: 0 !important;
        bottom: 0 !important;
height: 49vh !important;
width: 100% !important;
    }

    #footer2 {
        background-color: pink !important;
        position: fixed !important;
        left: 0 !important;
        bottom: 0 !important;
        height: 52px !important;
        width: 100% !important;
        font-weight: bold;
        color: #443f3f;
    }

   body {

      zoom: 45% !important;
}

    input#filename {
        height: 125px !important;
        font-size: 250% !important;
    }

    #results {
        height: 0px !important;
        font-size: 250% !important;
    }
    #searchBox, #filename {
        width: 100% !important;
        border: 0;
        background: #ececec;
        padding: 0 0 0 0;
        margin: 0;
        outline: 0;
        border-radius: 0;
        height: 166px !important;
        font-size: -webkit-xxx-large;
        text-align: center;
        color: #72ad21;
        font-weight: bold;
        font-family: 'Roboto', sans-serif !important;
    }

    body {
        width: 100%;
        height: 0px !important;
    }

    html {
        width: 100%;
        background-color: #443f3f;
        height: 100vh !important;
    }
}
body {
    zoom: 128%;
}
header:nth-child(0), header:nth-child(1) {
    padding-top: 10px;
}

header {
    border-bottom: 3px solid pink !important;
    padding-bottom: 20px;
}

body {
    overflow-x: hidden;
}
* {
   // font-family: 'Roboto', sans-serif !important;
}
div#footer2 {
  //  overflow-y: hidden;
}
button#obtain-new-token {
    visibility: hidden;
}
div#login {
    height: 0px !important;
}
body {
    width: 100%;
    height: 0px !important;
}
div#link {
    height: 62px;
    width: 291px;
    background: #00f629 !important;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 20px;
}
#spotify {
    width: 291px !important;
    border: none !important;
    font-size: 140%;
    background-color: #00f629 !important;
    font-family: fantasy;
    height: 62px !important;
    border-radius: 8px;
    margin-left: 6px !important;
}

html {
    width: 100%;
    background-color: #443f3f;
    height: 100vh !important;
}

div#searchboxContainer {
    position: fixed !important;
    width: 100% !important;
    opacity: 1;
}

#searchBox, #filename {
    width: 100%;
    border: 0;
    background: #ececec;
    padding: 0 0 0 0;
    margin: 0;
    outline: 0;
    border-radius: 0;
    height: 66px !important;
    font-size: xx-large;
    text-align: center;
    color: #72ad21;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

footer, #footer {
    background-color: transparent !important;
    position: fixed;
    left: 0;
   // margin-bottom: 50%;
    height: 50px;
    width: 100%;
}

#footer2 {
    background-color: pink !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    height: 40px;
    width: 100% !important;
    font-weight: bold;
    color: #443f3f;
}
#partyID {
    border: 2px solid black;
    width: 291px;
    background: #ececec;
    padding: 0 0 0 0;
    margin-top: 15%;
    border-radius: 8px;
    height: 62px !important;
    font-size: 288%;
    text-align: center;
    color: #72ad21;
    font-weight: lighter;
    font-family: sans-serif;
}
#spotify {
  border: 2px solid black;
  width: 291px;
  background: #ececec;
  padding: 0 0 0 0;
  margin-top: 15%;
  border-radius: 8px;
  height: 62px !important;
  font-size: 288%;
  text-align: center;
  color: #ffffff;
  font-weight: lighter;
  font-family: sans-serif;
}
input#partyID:focus {
    border: 2px solid blue !important;
    background: white;
}
div#results, body {
    height: 100% !important;
background: #adadad !important;
}
a#spotify:hover, a#spotify:active {
    background-color: #96f896;
    text-decortation: none !important;
}
div#loggedin {
    width: 350px !important;
    margin: auto !important;
    height: 0px !important;
}
html {
    width: 100%;
    margin: auto;
    z-index: 8;
    background-size: cover;
}
body {
    width: 100%;
    margin: auto;
}

div#searchBox {
    width: inherit;
    margin: auto;
    margin-top: 0px;
}

button#searchSongs {
    margin-left: 5px;
}

.dl-horizontal dd {
    margin: 0;
}
div#hideThis {
        display: none;
    }
div#oauth {
    display: none;
}
#login {
    background: transparent;
}
#login {
    border-top: 5px solid #443f3f;
    display: none;
    width: 150px;
    margin: auto;
    margin-top: 3%;
    text-align: -webkit-center;
    font-size: 180%;
}
#loggedin {
    display: auto;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

body {
    padding: 0px;
}

#search-form, .form-control {
    // margin-bottom: 20px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

.media, .media-body, div#oauth, div#user-profile, h1 {
    height: 0px;
}

div#results {
    width: 100% !important;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    background: #443f3f;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}

dt {
    text-align: left !important;
}

button#obtain-new-token {
    width: 346px;
}

div#results {
    width: 340px;
    margin: auto;
    padding-top: 5px;
}

button#setDefaultPlaylist {
    width: 347px;
    margin-top: 20px;
}

div#searchboxContainer {
    position: fixed !important;
    width: 100% !important;
    opacity: 1;
}
